/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.example-spacer {
  flex: 1 1 auto;
}

.wrap-icon{
  display: flex;
  align-items: center;
}

.wrap-icon .margin-left{
  margin-left: 10px;
}

.wrap-icon .margin-right{
  margin-left: 10px;
}

.wrap-icon.margin-left{
  margin-left: 10px;
}

.mat-dialog-container {
  padding: 0px!important;
}

.mat-form-field-wrapper{
 padding-bottom: 0px;
}

td.mat-cell:last-of-type, th.mat-header-cell:last-of-type{
  padding-right: 0px !important;
  text-align: center;
}

@media screen and (max-width: 920px){
  .body{
    display: none!important;
  }
}
